.dashboard {
  padding-top: 0;
}

.galleryArea {
  padding: 32px;
  max-width: 1075px;
  margin: auto;
}

.header {
  border-bottom: 1px solid var(--sage-medium);
  background-color: var(--mint-light);
  h1 {
    margin: 0;
    padding: 10px;
  }
}
